__pycache__/

*.class
*.pyc
*.o
*.exe

node_modules/
venv/
env/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
*.bak

.env
*.env.local

build/
dist/
*.log
*.min.js

.history/
.cache/
